  <div class='nested-fields'>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :item_uom %>
      <%= f.text_field :item_uom %>
    </div>
    <%= link_to_remove_association "remove ingredient", f %>
  </div>